// Vi definerar några återkommande färger och textstorlekar
$backdropcolor: rgb(12, 12, 12);
$bgcolor: rgb(40, 43, 38);
$toplevelcolor: cadetblue;
$midcolor: darkslategrey;
$textcolor: aliceblue;
$fontsize: 16px;

html {
    height: 100%;

    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 100%;
        background-color: $backdropcolor;
        color: $textcolor;
        font-size: $fontsize;

        #content {
            background-color: $bgcolor;
            height: fit-content;
            overflow: hidden; //Anpassar rutan mot meny till vänster. 

            header {
                display: flex;
                padding-left: 7em;
                background-color: $toplevelcolor;

                #homeButton {   //Animation vid mouse-over & focus (för tab).
                    cursor: pointer;
                    text-decoration: solid underline 0px;
                    transition: all 300ms ease-in-out;
                    &:hover, &:focus {
                        color: #fff;
                        text-decoration: solid underline 5px;
                    }
                }
            }

            .mainMenu { 
                width: fit-content;
                float: left; //Frikopplar menyn så att den inte är i vägen för innerContent.
                top: 0; 
                left: 0;
                background-color: $midcolor;

                .menuButton {
                    cursor: pointer;
                    max-height: fit-content;
                    max-width: fit-content;
                    position: relative;
                    background-color: $midcolor;
                    box-shadow: 0 0 0 1px $toplevelcolor inset;

                    .buttonText {
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        text-decoration: solid underline 1px;
                    }
                    //Animation vid mouse-over och focus (för tab).
                    transition: all 300ms ease-in-out;
                    &:hover, &:focus {
                        color: #fff;
                        background-color: $toplevelcolor;
                    }

                    Img {
                        height: 11em;
                        width: 13em;    //Här sätts den faktiska bredden på menyn.
                        padding-top: 2em;
                        opacity: 0.35;
                        mix-blend-mode: multiply;
                    }
                }
            }

            .innerContent {
                min-height: 100%;
                margin-left: 13em;  //Ger plats åt menyn.
                padding: 1em;
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: center;    //Centrerar innehållet.

                .innerWindow {
                    max-width: 60em;
                }

                #addShow {
                    form {
                        select, input, #showDescription {
                            font-size: $fontsize;
                        }
                        #showDescription {
                            width: 100%;
                            height: 10em;
                        }
                    }
                }

                #searchShow {
                    padding-bottom: 2em;
                        input {
                            font-size: $fontsize;
                    }
                    #noResultDisplay {
                        display: none;
                    }
                }

                #listTemplate { //Mallen för nya program
                    position: relative;
                    max-width: 50em;
                    min-width: 90%;
                    box-shadow: 0 0 0 1px $toplevelcolor inset;
                    padding: 1em;
                    background-color: $midcolor;
                    display: none; //Vi justerar display via javascript. 

                    #genre, #rating{
                        font-weight: lighter;
                    }
                    #entryButtons {
                        position: absolute;
                        top: 2em;
                        right: 2em;
                    }
                }
            }
        }

        footer {
            display: flex;
            height: 3em;
            background-color: $toplevelcolor;
            justify-content: end;
            padding-right: 1em;
        }
    }
    /*Här sker anpassningar för mindre fönster. Vrider på menyknapparna och 
    justerar storlekar på text och annat*/
    @media (max-width: 700px) {
        body {
            #content {
                header {
                    padding-left: 3em;
                    h1 {
                        font-size: 20px;
                    }
                }

                .mainMenu {
                    float: none;
                    width: 100%;
                    display: flex;
                    align-content: flex-start;
                    align-items: center;
                    flex-direction: row;

                    .menuButton {
                        h3 {
                            font-size: 17px;
                        }
                        img {
                            width: 8em;
                            height: 7em;
                        }
                    }
                }

                .innerContent {
                    margin-left: 0em;
                }
            }
        }
    }
}
